@use 'base/variables' as v;
@use 'base/mixins' as m;


.header {   //header
    background-color: v.$verde;

    h1 {
        color: v.$blanco;
        text-align: center;
        @include m.tablet {
            margin: 0;
        }
    }
    .contenido-header { //div
        padding: 2rem;
        @include m.tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    @include m.tablet { //dejo la barra de navegacion anclada arriba y a la izquierda al hacer scroll
        &.fijo {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            box-shadow: .1rem .2rem .3rem #333; //.1rem(corre la sombra de izquierda a derecha con valores positivos, al reves con negativos) .2rem(altura de la sombra) .3rem(difuminacion de la sombra)
        }
    }
}
.navegacion-principal { //nav
    @include m.tablet {   //llamo al mixin
        display: flex;  //gracias al content en el mixin puedo pasarle esta declaracion
        gap: 2rem;
    }
    a {
        display: block;
        text-align: center;
        color: v.$blanco;
        font-size: 2.4rem;
        margin-bottom: 1rem;

        &:hover {    //el & añida el a con el :hover pegados, sin esto queda a :hover en app.css
            color: v.$amarillo;
        }
        
        @include m.tablet {
            margin-bottom: 0;
        }
    }
}