@use 'base/variables' as v;
@use 'base/mixins' as m;

.video {    //div
    position: relative;
    min-height: 50rem;
    max-height: 70rem;
    overflow: hidden;   //corto el video a la altura segun el max-height que tenga
    
    .overlay {  //div
        position: absolute;
        background: rgb(126,2,195);
        background: linear-gradient(270deg, rgba(126,2,195,0.5) 0%, rgba(255,0,110,0.3) 100%);
        width: 100%;
        height: 100%;
        display: flex;  //para poder centrar el texto del video
        flex-direction: column;
        justify-content: center;
    }

    video {
        width: auto;
        display: block;

        @include m.desktop {
            width: 100%;
        }
    }
}

.contenido-video {  //div
    z-index: 1; //cambio el orden de le las etiquetas para que pueda seleccionar el texto. Con valor 1 lo deja al frente. Siempre se usa esto cuando hay position relative y absolute. Por ej. si le pongo valor 0, el texto se esconde

    h2 {
        color: v.$blanco;
        font-size: 7rem;
        margin: 0;
    }
    p {
        background-color: v.$rosa;
        display: inline-block;
        padding: 1rem 2rem;
        color: v.$blanco;
        font-weight: bold;
        font-size: 2.4rem;
        margin: 0;
    }
}